// Navigation code here

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3.9rem;
    margin: 1.3rem;

    @media @phone {
      margin-left: 3rem;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 47%;
    margin: 1rem 0;

    @media @phone {
      width: 85%;
      justify-content: space-around;
      margin-left: 1.5rem;
      margin-top: 0.8rem;
      margin-bottom: 1.3rem;
    }

    a {
      text-decoration: none;
      color: @nav-font;
      font-size: 1.6rem;
    }
  }
}
